{%  extends 'base.html' %}

{%block title%}Profile Settings{% endblock %}

{%block body%}

{% if request.session.Teacher_id or  request.session.Stu_id %}
<form class="container pt-5" action="" method="POST">{% csrf_token %}

        </br>
        <h2>Type New Password</h2></br>
        {{form}}
    </br></br><button type="submit" class="btn btn-outline-success btn-sm">Change Password</button>
</form>
{% else %}
<div class="jumbotron container pt-5 mt-5">
    <h1 class="display-4"><b>You Have To <a href="/login">Login</a> First !!!</b></h1>
  <p class="lead">You can not go this page. If you want to go your profile page, You have to <a href="/login">Login</a> first.</br>THANK YOU</p>
  <hr class="my-4">

  <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>

</div>
{% endif %}

{% endblock %}