{%  extends 'base.html' %}

{%block title%}Course{% endblock %}

{%block body%}

{% load humanize %}
{% load get_dict %}



<div class="row container pt-5 ml-5 mr-5 pr-5">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Course</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Assignment</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">My Assignment and Grade</a>

    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

        <div class="pt-5 ml-5 mr-5 pl-5 pr-5 mt-5">
          <div class="card card-body pt-5 ml-5 mr-5">
            <h2 style="text-align: center">Your Course</h2>

            <hr>

            <h5>Course Name : <b> {{stu_id_page_username}}</b></h5>
            <hr>
            <h5>Course Teacher : <b>{{teacher_ns_interface}}</b></h5>
    </div>
  </div>

      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

        {% if get_assignmet_for_stu %}
        {% if get_submit_assignment_stu %}
        <button class="btn btn-info btn-sm">Submitted</button>
        {% else %}
        <form class="container mb-4" action="/submit_assignment" method="POST">{% csrf_token %}

          {% for r in get_assignmet_for_stu %}
          <input type="hidden" name="ass_name_stu_submit" value="{{r.Assignment_name}}">
          <input type="hidden" name="cor_name_stu_submit" value="{{r.course}}">
          <input type="hidden" name="stu_id_stu_submit" value="{{stu_course_id}}">


          {% endfor %}

          <button type="submit" class="btn btn-outline-info btn-sm">Submit Assignment</button>
        </form>

        {% endif %}

        {% for p in get_assignmet_for_stu %}
        <table class="table table-striped pt-5 mt-5">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">{{p.Assignment_name}}</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Course Name</th>
            <td>{{p.course}}</td>

          </tr>

          <tr>
            <th scope="row">Publish Date</th>
            <td>{{p.date}}</td>

          </tr>
          <tr>
            <th scope="row">Due Date</th>
            <td>{{p.due_date}}</td>

          </tr>
          <tr>
            <th scope="row">Title</th>
            <td>{{p.title}}</td>

          </tr>
          <tr>
            <th scope="row">Details</th>
            <td>{{p.Details}}</td>

          </tr>
          <tr>
            <th scope="row">Attachment</th>
            <td>
              <a href="{{p.attachment}}" class="btn btn-info btn-sm" target="_blank"> Download Assignment </a>
              </td>
          </tr>


          <tr>
            <th scope="row">Resource</th>
            <td>{{p.resource}}</td>
          </tr>
          <tr>
            <th scope="row">Posts</th>
            <td>{{p.posts}}</td>
          </tr>
          <tr>
            <th scope="row">Total Grade</th>
            <td>{{p.Out_Of_Grade}}</td>
          </tr>

        </tbody>
      </table>

        <div class="container"><hr class="my-4"><h2>Comments</h2></div>
        </br>

        <form class="form-inline container mb-5 " method="POST" action="/postComments">{% csrf_token %}

            <div class="form-group mx-sm-3 mb-2">
                <input name="comment_ass" type="text" class="form-control" placeholder="Comment Here">
                <input name="ass_id" type="hidden" value="{{p.id}}">
                <input name="serial_no" type="hidden" value="">
                <input name="comment_username" type="hidden" value="{{get_student_name}}">

            </div>
            <button type="submit" class="btn btn-outline-success mb-2 ml-2">Submit</button>
        </form>

        {% for comment in get_all_comments %}

          <div class="row my-3">
              <div class="col-md-1"><img src="/media/uploads/user.png" class="rounded mx-auto d-block" alt="user" width="50px" height="40px"></div>
              <div class="col-md-11"><b>{{comment.user}}</b> <small> <span class="badge badge-secondary">{{comment.time_comment | naturalday}}</span> ({{comment.time_comment}})</small>
                  <div>{{comment.comment}}</div>

                  <div class="reply mx-0">
                        <button class="btn btn-sm btn-outline-primary mt-4" type="button" data-toggle="collapse" data-target="#reply{{comment.serial_no}}" aria-expanded="false" aria-controls="reply{{comment.serial_no}}">
                          Reply
                        </button>

                      <div class="collapse" id="reply{{comment.serial_no}}">
                        <div class="card card-body my-2">
                          <form class="form-inline container" method="POST" action="/postComments">{% csrf_token %}

                              <div class="form-group mx-sm-3 mb-2">


                                  <input name="comment_ass" type="text" class="form-control" placeholder="Reply a comment">
                                  <input name="serial_no" type="hidden" value="{{comment.serial_no}}">
                                  <input name="ass_id" type="hidden" value="{{get_assignment12.id}}">

                                  <input name="comment_username" type="hidden" value="{{get_student_name}}">

                              </div>
                              <button type="submit" class="btn btn-outline-success mb-2 ml-2">Submit</button>
                          </form>
                        </div>
                      </div>

                    <div class="replies my-3">
					{% for replycomment in repDict|get_value:comment.serial_no %}
					<div class="row">
						<div class="col-md-1"><img src="/media/uploads/user.png" class="rounded mx-auto d-block" alt="user" width="40px" height="30px"></div>
						<div class="col-md-11"><b>{{replycomment.user}}</b> <small> <span class="badge badge-secondary">{{replycomment.time_comment | naturalday}}</span> ({{replycomment.time_comment}})</small>
			<div>{{replycomment.comment}}</div></div>

					</div>


					</br>


					{% endfor %}
					</div>




                  </div>

              </div>
          </div>

          {% endfor %}</br></br></br></br></br>

        {% endfor %}
        {% else %}
        <span class="text-muted container pt-5 pl-5 ml-4"> No Assignment</span>
        {% endif %}

      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">


        {% if get_submit_assignment_stu %}

        {% for q in get_submit_assignment_stu %}


        <table class="table table-striped pt-5 mt-5">
          <thead>
            <tr>
              <th scope="col">Student ID</th>
              <th scope="col">{{q.Student_ID}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Course</th>
              <td>{{q.course}}</td>

            </tr>
            <tr>
              <th scope="row">Assignment</th>
              <td>

                <a href="{{q.attachment}}" class="btn btn-info btn-sm" target="_blank"> View My Assignment </a>

                </td>

            </tr>

            <tr>
              <th scope="row">Stutes</th>
              <td>
                <button class="btn btn-info btn-sm">Submitted</button>
                </td>
            </tr>

          </tbody>
        </table>
        {% endfor %}
        </br></br>

        <hr>


        {% if get_grade_of_my_grade %}
        {% for get_of_my_grade in get_grade_of_my_grade %}

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Student ID</th>
              <th scope="col">Course Name</th>
              <th scope="col">Assignment Name</th>
              <th scope="col">Grade</th>
              <th scope="col">Out of Grade</th>
              <th scope="col">Mark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{get_of_my_grade.Student_ID}}</th>
              <td>{{get_of_my_grade.course}}</td>
              <td>{{get_of_my_grade.Assignment_name}}</td>
              <td>{{get_of_my_grade.Grade}}</td>
              <td>{{get_of_my_grade.Out_Of_Grade}}</td>
              <td><button class="btn btn-info btn-sm">Complete</button></td>
            </tr>

          </tbody>
        </table>
        {% endfor %}

        {% else %}
        <span class="text-muted container pt-5 pl-5 ml-4 mb-5">Waiting for grade result..</span>
        {% endif %}



        {% else %}
        <span class="text-muted container pt-5 pl-5 ml-4">You Have not submit your Assignment.</span>
        {% endif %}


      </div>

    </div>
  </div>
</div>




{% endblock %}